#header {
    display: flex;
    color: #56b6d6;
}

#logo {
    width: 3%
}

#welcome {
    background-color:#4d99d2;
    display: flex;
}

#searchbar {
    width: 70%;
}

#choice {
    display: flex;
}

#searchbarbut {
    display: flex;
    justify-content: center;
}

#ingred {
    margin-left: 50 px;
}

#corps {
    background-color: #75dafb;
}

.word {
    color: blueviolet
}